body {
    background-color: #ADD8E6;
  }
  
  #download-resume {
    text-align: center;
    padding: 10px;
  }
  
  #picture-area {
    text-align: center;
    padding: 10px;
  }
  
  #about-me {
    border: 1px solid black;
    padding: 10px;
    background-color: #F0F8FF;
  }
  
  #portfolio-link {
    text-align: center;
    padding: 10px;
  }